<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GamesDBEntities" connectionString="metadata=res://*/GamesDB.csdl|res://*/GamesDB.ssdl|res://*/GamesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamesDBEntities1" connectionString="metadata=res://*/GamesDB.csdl|res://*/GamesDB.ssdl|res://*/GamesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamesDBEntities2" connectionString="metadata=res://*/GamesDB.csdl|res://*/GamesDB.ssdl|res://*/GamesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamesDBEntities3" connectionString="metadata=res://*/GamesDB.csdl|res://*/GamesDB.ssdl|res://*/GamesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamesDBEntities4" connectionString="metadata=res://*/GamesDb.csdl|res://*/GamesDb.ssdl|res://*/GamesDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamesDBEntities5" connectionString="metadata=res://*/GamesDB.csdl|res://*/GamesDB.ssdl|res://*/GamesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GamesDBEntities6" connectionString="metadata=res://*/GamesDB.csdl|res://*/GamesDB.ssdl|res://*/GamesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DP1IQIP;initial catalog=GamesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>